  {% extends "admin.html" %}
  {% block body %}

    <body>
        
        <!-- Admin Page Wrapper -->
        <div class="admin-wrapper">

            
            <!-- Left Sidebar -->
            <div class="left-sidebar" style="padding-top: 70px;">
                <ul>
                    <li><a href="/recent-post">Recent Posts</a></li>
                    <li><a href="/manage-post">Manage Posts</a></li>
                    <li><a href="/manage-user">Manage Users</a></li>
                    <img src="https://www.pngkey.com/png/full/263-2636557_icon-admin-cartoon.png" style="margin-top: 210px;width: 300px;">
                </ul>
            </div>
            <!-- // Left Sidebar -->


            <!-- Admin Content -->
            <div class="admin-content" style="padding-top: 80px;">
                <div class="button-group">
                    <a href="/manage-post" class="btn btn-big">Manage Posts</a>
                </div>


                <div class="content">

                    <h2 class="page-title">Add Posts</h2>

                    <form action="/add-post" method="post">
                        <div>
                            <label>Title</label>
                            <input type="text" name="title" class="text-input">
                        </div>
                        <div>
                            <label>Body</label>
                            <textarea name="body" id="body"></textarea>
                        </div>
                        <div>
                            <label>Image</label>
                            <input type="file" name="image" class="text-input">
                        </div>
                        <div>
                            <label>Topic</label>
                            <select name="topic" class="text-input">
                                <option value="Internships">Interships</option>
                                <option value="TPO">PPO</option>
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-big">Add Post</button>
                        </div>
                    </form>

                </div>

            </div>
            <!-- // Admin Content -->

        </div>
        <!-- // Page Wrapper -->


        <!-- JQuery -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Ckeditor -->
        <script
            src="https://cdn.ckeditor.com/ckeditor5/12.2.0/classic/ckeditor.js"></script>
        
        <!-- Custom Script -->
        <script src="{{ url_for('static', filename = 'Admin js/scripts.js')}}"></script>

        <script src="{{ url_for('static', filename = 'Admin js/main.js')}}"></script>

    </body>
    {% endblock %}

