  <div class ="section">
    
    <div class="video-container">
        <div class = " color-overlay">
            
          <iframe width="560" height="315" src="https://www.youtube.com/embed/FOQm1JPJ7BI?autoplay=1&loop=1&showinfo=0&rel=0&fs=0&color=white&autohide=0&controls=0&disablekb=1" title="AIT video"></iframe>
             
        </div>
     </div>
  </div>

  {% extends "inner-page.html" %}
  {% block body %}
<body>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>AIT TPO</span></h2>
          <p class="animate__animated fanimate__adeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">gahg shgd guwyd </h2>
          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Segrg qui eaut etest quah erat</h2>
          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->
  



<div class="section-1 box">
    <h1>bbjsgsd jdgydwoewojwof klfjodpwk </h1>
</div>

<div class="section-2 box">

    <h1>bchgcgcevgretfrugvvbrvjyvbv vbhfjgvuv</h1>

    <p>
        Improved Skills and Knowledge: College placement serves as an outstanding platform for the students to gain specific skills
        related to their subject of choice or domain to stay ahead of the competition by providing them with live projects, internships
        that provides adequate corporate exposure
    </p>

</div>

<div class="section-3 box">
    <h1>fnvjdhc  cgdbcu rtire hdndyd ehedfkjhf</h1>
</div>

<div class="section-4 box">
    
    <h1>Excepteur sint occaecat cupidatat non proident</h1>

    <p>
        Improved Skills and Knowledge: College placement serves as an outstanding platform for the students to gain specific skills
        related to their subject of choice or domain to stay ahead of the competition by providing them with live projects, internships
        that provides adequate corporate exposure.
    </p>
</div>
</body>
{% endblock %}