{% extends "admin.html" %}
{% block body %}

    <body>
       

        <!-- Admin Page Wrapper -->
        <div class="admin-wrapper">

            <!-- Left Sidebar -->
            <div class="left-sidebar" style="padding-top: 100px;">
                <ul>
                    <li><a href="/recent-post">Recent Posts</a></li>
                    <li><a href="/manage-post">Manage Posts</a></li>
                    <li><a href="/manage-user">Manage Users</a></li>
                    <img src="https://www.pngkey.com/png/full/263-2636557_icon-admin-cartoon.png" style="margin-top: 70px;width: 300px;">
                </ul>
            </div>
            <!-- // Left Sidebar -->


            <!-- Admin Content -->
            <div class="admin-content" style="padding-top: 85px;">
                <div class="button-group">
                    <a href="/add-user" class="btn btn-big">Add User</a>
                </div>


                <div class="content">

                    <h2 class="page-title">Manage Users</h2>

                    <table>
                        <thead>
                            <th>SN</th>
                            <th>Username</th>
                            <th>Role</th>
                            <th colspan="2">Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Ritika</td>
                                <td>Admin</td>
                                <td><a href="#" class="edit">edit</a></td>
                                <td><a href="#" class="delete">delete</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Umang</td>
                                <td>Admin</td>
                                <td><a href="#" class="edit">edit</a></td>
                                <td><a href="#" class="delete">delete</a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Aditya</td>
                                <td>Admin</td>
                                <td><a href="#" class="edit">edit</a></td>
                                <td><a href="#" class="delete">delete</a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Saumya</td>
                                <td>Admin</td>
                                <td><a href="#" class="edit">edit</a></td>
                                <td><a href="#" class="delete">delete</a></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Abhijit</td>
                                <td>Admin</td>
                                <td><a href="#" class="edit">edit</a></td>
                                <td><a href="#" class="delete">delete</a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
            <!-- // Admin Content -->

        </div>
        <!-- // Page Wrapper -->



        
    
    
            <!-- JQuery -->
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <!-- Custom Script -->
            <script src="{{url_for('static', filename = 'Admin js/scripts.js')}}"></script>
    
            <script src="{{url_for('static', filename = 'Admin js/main.js')}}"></script>

    </body>
{% endblock %}