{% extends "inner-page.html" %}
{% block body %}
<body>
  <!-- Admin Page Wrapper -->
  <div class="admin-wrapper">

      <!-- Left Sidebar -->
      <div class="left-sidebar" style="padding-top: 70px;">
          <ul>
              <li><a href="/recent-post">Recent Posts</a></li>
              <li><a href="/manage-post">Manage Posts</a></li>
              <li><a href="/manage-user">Manage Users</a></li>
              
          </ul>
      </div>
      <!-- // Left Sidebar -->

      <!-- Page Wrapper -->

        <!-- Content -->
        <div class="content clearfix" style="width: 1150px;padding-bottom: 50px; background-color: #A9C9FF;background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);">

          <!-- Main Content -->
          <div class="main-content" style="padding-left: 50px;">
            <h1 class="recent-post-title" style="padding-top: 70px; padding-left: 50px;">Recent Posts</h1>

            <div class="post clearfix">
              <div class="post-preview">
                <h2><a href="single.hmtl">Internships for TE and BE</a></h2>
                <i class="far fa-user"> Ritika</i>
                &nbsp;
                <i class="far fa-calendar"> Sept 23, 2021</i>
                <p class="preview-text">One to line description
                </p>
                <a href="#" class="btn read-more" >Read More</a>
              </div>
            </div>

            <div class="post clearfix">
              <div class="post-preview">
                <h2><a href="#">Job Opportunity for TE and BE</a></h2>
                <i class="far fa-user"> Umang</i>
                &nbsp;
                <i class="far fa-calendar">  Sept 23, 2021</i>
                <p class="preview-text">
                  One to line description
                </p>
                <a href="#" class="btn read-more">Read More</a>
              </div>
            </div>
            <div class="post clearfix">
              <div class="post-preview">
                <h2><a href="#">Internships for TE and BE</a></h2>
                <i class="far fa-user"> Abhijit</i>
                &nbsp;
                <i class="far fa-calendar">  Sept 23, 2021</i>
                <p class="preview-text">
                  One to line description
                </p>
                <a href="#" class="btn read-more">Read More</a>
              </div>
            </div>
            <div class="post clearfix">
              <div class="post-preview">
                <h2><a href="#">Job Opportunity for TE and BE</a></h2>
                <i class="far fa-user">Saumya</i>
                &nbsp;
                <i class="far fa-calendar">  Sept 23, 2021</i>
                <p class="preview-text">
                  One to line description
                </p>
                <a href="#" class="btn read-more">Read More</a>
              </div>
            </div>

          </div>
          <!-- // Main Content -->

        </div>
        <!-- // Content -->
  </div>
 <!-- // Page Wrapper -->
      

</div>
  <!-- // Page Wrapper -->



      
</body>

{% endblock %}