{% extends "student.html" %}
  {% block body %}
  <style>
      
      .Welcome{
          padding-top: 100px;
          background-color: aquamarine;
          font-weight: bold;
      }
  </style>
  <div class="Welcome">
    <hr>
    <h1>Welcome, {{name}}</h1>
    <hr>
  </Welcome>

  <div class="page" style="background-color: aquamarine;">
    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif ;">Anubhav </h1>
    <h3>Experience Sharing Point (A-ESP) is a platform developed for AITians to read & share encounters of various interviews.</h3>
    <img src="https://anubhav.aitoss.club/static/media/frame_3.78aa3af0.svg"><a class="button-button1" target="_blank" href="https://anubhav.aitoss.club/" style=" margin-left: 50px;margin-right: 50px; padding: 1rem 5rem;background: #3808e2;color: white;border: 1px solid transparent;border-radius: .25rem;font-size: 1.08em;font-family: 'Lora', serif">Check it out</a>
    <img src="https://anubhav.aitoss.club/static/media/frame_1.a3ce7715.svg">
  </div>

  
  {% endblock %}